.definition {
    /* Add additional styles for card-button definition */
    /* Modify these styles as needed */
    margin: 15px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgb(255, 255, 255); /* RGB shadow */
    transition: box-shadow 0.2s ease-in-out;
}
.left-content {
    margin: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgb(255, 255, 255); /* RGB shadow */
    transition: box-shadow 0.2s ease-in-out;
}
