.left-content {
    margin: 15px;
    padding: 0;
    display: grid;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 250px;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgb(255, 255, 255); /* RGB shadow */
    transition: box-shadow 0.2s ease-in-out;
}
.definition{
    display: grid;
    place-items: center;
}
