header {
    display: block;
    max-width: 80%;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
h1 {
   color:white;

}

table{
    text-align: left; /* Align the text to the left */
    color: white; /* Text color */
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(61, 60, 122, 0.1),
    0 0 30px rgba(22, 15, 51, 0.1),
    0 0 20px rgba(95, 62, 126, 0.1),
    0 0 30px rgba(49, 43, 87, 0.1);
    display: inline-block;
    border-spacing: 15px;
}



.table-div {
    max-width: 80%;
    margin: auto;
}

.table-headers-progress {
    font-size: 1.6rem;
    margin-bottom: 10px;
}


.btn-primary {
    display: block;
    float: right;
    background: linear-gradient(to bottom, #0d0921, #39375e, #5f3e7e);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    border: none;
    outline: none;
    padding: 5px 18px;
    line-height: 24px;
    border-radius: 9px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    box-shadow: 0 0 20px rgb(95, 62, 126), 0 0 40px rgb(255, 255, 255), 0 0 60px rgb(22, 15, 51);
    transition: box-shadow 0.2s ease-in-out;
}
.btn-primary::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgb(241, 151, 234) 17.8%, rgb(255, 255, 255) 100.2% );
    filter: blur(35px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.btn-primary:active{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(241, 151, 234) 17.8%, rgb(255, 255, 255) 100.2% );
    transition: 0.5s;
}