<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Words Learning App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <Link rel="stylesheet" href="/style.css">
</head>
<body class="main-page">
<h1>Welcome to new words learning App!</h1>
<div class="p-2">
    <form th:action="@{/register}" method="get">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>

    <form th:action="@{/login}" method="get">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

</body>
</html>