<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Slide Navbar</title>
  <link rel="stylesheet"  href="/static/slide%20navbar%20style.css">

</head>
<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="signup">
    <form>
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="text" name="txt" placeholder="User name" required="">
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <button>Sign up</button>
    </form>
  </div>

  <div class="login">
    <form>
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <button>Login</button>
    </form>
  </div>
</div>
</body>
</html>