<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <Link rel="stylesheet" href="/UserProgressPage.css">
    <title>User Progress</title>
</head>
<header>
    <form th:action="@{/user-page}" method="get">
        <button type="submit" class="btn-primary">Back Home</button>
        <h1>Your Progress</h1>
    </form>
</header>
<body>
<div class="table-div">
<table>
    <tr class="table-headers-progress">
        <th>Words Learned</th>
    </tr>
    <tr th:each="userProgress : ${userProgressList}">
        <td th:text="${userProgress.wordsLearned}"></td>
    </tr>
</table>
</div>

</body>
</html>


