<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <Link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="p-2">
    <h1>Quiz</h1>
    <form th:action="@{/submitQuiz}" method="post">
    <th:block th:each="item : ${quizOptions}">
    <h2 th:text="'What is the definition of ' + ${item.getQuizWord()} + '?'"></h2>

        <ul>
            <li th:each="option : ${item.getListOfDefinitions()}">
                <label>
                    <input type="radio" th:name="quizOption" th:value="${option}" />
                    <span th:text="${option}"></span>
                </label>
            </li>
        </ul>

    </th:block>
    <button type="submit">Submit Quiz</button>
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="Log Out"/>
    </form>


</div>
</body>
</html>



