<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <Link rel="stylesheet" href="/QuizPage.css">
    <link rel="stylesheet" href="/LearningPage.css">
    <link rel="stylesheet" href="/UserPage.css">
</head>

<body>
<div class="p-2">
    <form th:action="@{/submitQuiz}" method="post">
        <th:block th:each="item, questionIndex : ${quizOptions}">
            <h2 class="card-button left-content"   th:text="'Question ' + (${questionIndex.index + 1}) + ' - What is the definition of ' + ${item.getQuizWord()} + '?'"></h2>
            <ul>
                <li class="card-button definition" th:each="option : ${item.getListOfDefinitions()}">
                    <label th:classappend="${score != null ? (option == item.correctAnswer ? 'correct' : (optionStat == 0 ? 'incorrect' : '')) : ''}">
                        <input type="radio" th:name="${'answer_' + questionIndex.index}" th:value="${option}"/>
                        <span th:text="${option}"></span>
                        <span th:if="${score != null && option == item.correctAnswer}">
                        <span>&#10004;</span>
                    </span>
                    </label>
                </li>
            </ul>
        </th:block>
        <button type="submit" class="btn-center btn btn-primary">Submit Quiz</button>
    </form>
</div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary logout-form" value="Log Out"/>
    </form>

<a th:href="@{/user-page}" class="btn btn-primary back-button">Back</a>


</body>
</html>


